/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.btn
{
  background-color: #afd9d6 !important;
}
