
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="">
            WELLNESS WINGS
          </a>
        </li>
        <li>
          <a href="">
            About Us
          </a>
        </li>
        <li>
          <a href="">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed with love by
      <a href="" target="_blank">Syrine</a>.
    </div>
  </div>
</footer>
