<form>
  <div class="row">
    <div class="col-md-6 px-1">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" value="michael23">
      </div>
    </div>
    <div class="col-md-6 px-1">
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" >
      </div>
    </div>
    <div class="col-md-12 px-1">
      <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" id="email" type="email" class="form-control" placeholder="Email">
      </div>
    </div>
  </div>
  <button mat-button type="submit">Add new user</button>
</form>
