<div class="panel-header panel-header-sm text-center">
  <h5 class="title"><i class="fas fa-chart-bar"></i> Delivery Contract Statistics
     According To Duration</h5>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div *ngIf="statistics">
          <div class="card-header">
            <h2 class="text-center"><i class="fas fa-chart-bar"></i> Delivery Contract Statistics</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="statistic">
                  <div class="value text-center" style="font-size: 2em;">{{ statistics.average }}</div>
                  <div class="label text-center" style="font-size: 1.5em;"><i class="fas fa-tachometer-alt"></i> Average {{ variable }}</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="statistic">
                  <div class="value text-center" style="font-size: 2em;">{{ statistics.min }}</div>
                  <div class="label text-center" style="font-size: 1.5em;"><i class="fas fa-arrow-down"></i> Minimum {{ variable }}</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="statistic">
                  <div class="value text-center" style="font-size: 2em;">{{ statistics.max }}</div>
                  <div class="label text-center" style="font-size: 1.5em;"><i class="fas fa-arrow-up"></i> Maximum {{ variable }}</div>
                </div>
              </div>
            </div>
            <div class="chart-container">
              <canvas id="chart"></canvas>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <img src="../../../assets/img/contrat.PNG" alt="Image description" style="max-width: 100%; height: auto;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
