<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Create Contract</h4>
 
          <form (submit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" [(ngModel)]="newContract.name" required class="form-control">
            </div>

            <div class="form-group">
              <label for="option">Option:</label>
              <input type="text" id="option" name="option" [(ngModel)]="newContract.option" required class="form-control">
            </div>

            <div class="form-group">
              <label for="price">Price:</label>
              <input type="number" id="price" name="price" [(ngModel)]="newContract.price" required class="form-control">
            </div>

            <div class="form-group">
              <label for="duration">Duration:</label>
              <input type="number" id="duration" name="duration" [(ngModel)]="newContract.duration" required class="form-control">
            </div>

            <div class="form-group">
              <label for="distance">Distance:</label>
              <input type="number" id="distance" name="distance" [(ngModel)]="newContract.distance" required class="form-control">
            </div>

            <div class="form-group">
              <label for="creation_date">Creation Date:</label>
              <input type="date" id="creation_date" name="creation_date" [(ngModel)]="newContract.creation_date" required class="form-control">
            </div>

            <div class="form-group">
              <label for="expiration_date">Expiration Date:</label>
              <input type="date" id="expiration_date" name="expiration_date" [(ngModel)]="newContract.expiration_date" required class="form-control">
            </div>

            <button type="submit" class="btn btn-primary" click="onSubmit()">Add Contract</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
