<form [formGroup]="deliveryClaimForm" (ngSubmit)="onSubmit()">
  <label>
    Delivery Address:
    <input type="text" formControlName="deliveryAddress">
  </label>

  <label>
    Late Delivery?
    <input type="checkbox" formControlName="lateDelivery">
  </label>

  <label>
    Urgent Delivery?
    <input type="checkbox" formControlName="urgentDelivery">
  </label>

  <div formArrayName="deliveryItems">
    <div *ngFor="let item of deliveryItems.controls; let i=index" [formGroupName]="i">
      <label>
        Item Name:
        <input type="text" formControlName="name">
      </label>

      <label>
        Missing?
        <input type="checkbox" formControlName="missing">
      </label>

      <label>
        Damaged?
        <input type="checkbox" formControlName="damaged">
      </label>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
