<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">View Contract</h4>
<div>
    <div>
        <label><b>Contract Information:</b></label> {{ contract.contractInformation }}
    </div>
    <div>
        <label><b>ID:</b></label> {{ contract.id }}
    </div>
    <div>
        <label><b>Creation Date:</b></label> {{ contract.creation_date }}
    </div>
    <div>
        <label><b>Expiration Date:</b></label> {{ contract.expiration_date }}
    </div>
    <div>
        <label><b>Option:</b></label> {{ contract.option }}
    </div>
    <div>
        <label><b>Name:</b></label> {{ contract.name }}
    </div>
    <div>
        <label><b>Price:</b></label> {{ contract.price }}
    </div>
    <div>
        <label><b>Duration:</b></label> {{ contract.duration }}
    </div>
    <div>
        <label><b>Distance:</b></label> {{ contract.distance }}
    </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>




