<div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Liste des avis clients</h3>
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
          <li *ngFor="let review of reviews">
            <div class="card my-3">
              <div class="card-header">
                <h4>{{ review.productName }}</h4>
              </div>
              <div class="card-body">
                <p>{{ review.comment }}</p>
                <p>Note : {{ review.rating }}/5</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
  