<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Products list</h4>
        </div>
        <div class="card-body">
          <div class="example-button-row text-right">
            <button mat-raised-button (click)="openDialog()">
              <mat-icon>add</mat-icon>
              Add product
            </button>
            <div class="table-responsive mt-5">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Image
                </th>
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Price
                </th>
                <th>
                  Number
                </th>
                <th>
                  Category
                </th>
                <th>
                  Actions
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="" alt="">
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    <button mat-icon-button color="warning" aria-label="edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="danger" aria-label="delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="" alt="">
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    <button mat-icon-button color="warning" aria-label="edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="danger" aria-label="delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="" alt="">
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    <button mat-icon-button color="warning" aria-label="edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="danger" aria-label="delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="" alt="">
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    <button mat-icon-button color="warning" aria-label="edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="danger" aria-label="delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="" alt="">
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    <button mat-icon-button color="warning" aria-label="edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="danger" aria-label="delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="" alt="">
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    <button mat-icon-button color="warning" aria-label="edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="danger" aria-label="delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="" alt="">
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    <button mat-icon-button color="warning" aria-label="edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="danger" aria-label="delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
