<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">View Delivery</h4>
<div>
    <div>
        <label><b>Size:</b></label> {{ delivery.size }}
    </div>
    <div>
        <label><b>Address:</b></label> {{ delivery.address }}
    </div>
    <div>
        <label><b>ID:</b></label> {{ delivery.id }}
    </div>
    <div>
        <label><b>Rating:</b></label> {{ delivery.rating }}
    </div>
    <div>
        <label><b>TotalHT:</b></label> {{ delivery.totalHT }}
    </div>
    <div>
        <label><b>TotalTTC:</b></label> {{ delivery.totalTTC }}
    </div>
    <div>
        <label><b>Unit Price:</b></label> {{ delivery.unitPrice }}
    </div>
    <div>
        <label><b>TVA:</b></label> {{ delivery.tva }}
    </div>
    <div>
        <label><b>Delivery State:</b></label> {{ delivery.deliveryState }}
    </div>
    <div>
        <label><b>Scheduled Delivery Time:</b></label> {{ delivery.scheduledDeliveryTime }}
    </div>
    <div>
        <label><b>Actual Delivery Time:</b></label> {{ delivery.actualDeliveryTime }}
    </div>
    <div>
        <label><b>Distance:</b></label> {{ delivery.distance }}
    </div>
    <div>
        <label><b>Weight:</b></label> {{ delivery.weight }}
    </div>
    <div>
        <label><b>Speed:</b></label> {{ delivery.speed }}
    </div>
    <div>
        <label><b>Signature Confirmation:</b></label> {{ delivery.signatureConfirmation }}
    </div>
    <div>
        <label><b>Insurance:</b></label> {{ delivery.insurance }}
    </div>
</div>
        </div>
      </div>
    </div>
  </div>
</div>



