<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow">
          <div class="card-header">
            <h4 class="card-title">View Delivery</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label><b>Size:</b></label> {{ delivery.size }}
            </div>
            <div class="form-group">
              <label><b>Address:</b></label> {{ delivery.address }}
            </div>
            <div class="form-group">
              <label><b>ID:</b></label> {{ delivery.id }}
            </div>
            <div class="form-group">
              <label><b>Rating:</b></label> {{ delivery.rating }}
            </div>
            <div class="form-group">
              <label><b>TotalHT:</b></label> {{ delivery.totalHT }}
            </div>
            <div class="form-group">
              <label><b>TotalTTC:</b></label> {{ delivery.totalTTC }}
            </div>
            <div class="form-group">
              <label><b>Unit Price:</b></label> {{ delivery.unitPrice }}
            </div>
            <div class="form-group">
              <label><b>TVA:</b></label> {{ delivery.tva }}
            </div>
            <div class="form-group">
              <label><b>Delivery State:</b></label> {{ delivery.deliveryState }}
            </div>
            <div class="form-group">
              <label><b>Scheduled Delivery Time:</b></label> {{ delivery.scheduledDeliveryTime }}
            </div>
            <div class="form-group">
              <label><b>Actual Delivery Time:</b></label> {{ delivery.actualDeliveryTime }}
            </div>
            <div class="form-group">
              <label><b>Distance:</b></label> {{ delivery.distance }}
            </div>
            <div class="form-group">
              <label><b>Weight:</b></label> {{ delivery.weight }}
            </div>
            <div class="form-group">
              <label><b>Speed:</b></label> {{ delivery.speed }}
            </div>
            <div class="form-group">
              <label><b>Signature Confirmation:</b></label> {{ delivery.signatureConfirmation }}
            </div>
            <div class="form-group">
              <label><b>Insurance:</b></label> {{ delivery.insurance }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  



