<div class="bg-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="border rounded p-4">
          <div class="panel-header panel-header-sm">
            <h1 class="text-center">Delivery Persons</h1>
          </div>
          <div class="main-content">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h1 class="card-title">Top Delivery Persons</h1>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li *ngFor="let person of topDeliveryPersons; let i = index">
                        <div class="delivery-person">
                          <div class="delivery-person-image">
                            <img class="img-fluid" *ngIf="i === 0" src="../../../assets/img/DEV1.PNG" alt="">
                            <img class="img-fluid" *ngIf="i === 1" src="../../../assets/img/RANIIA.PNG" alt="">
                          </div>
                          <div class="delivery-person-info">
                            <h2>{{ person.name }}</h2>
                            <p><i class="fas fa-phone"></i> {{ person.phone }}</p>
                            <p><i class="fas fa-envelope"></i> {{ person.email }}</p>
                            <button class="btn btn-primary">Follow</button>
                            <a href="tel:{{person.phone}}" class="btn btn-success">Call</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

